body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #111; /* 어두운 배경 */
    font-family: Arial, sans-serif;
    overflow: hidden;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* 전체 화면에 맞추기 */
    height: 100%; /* 전체 화면에 맞추기 */
    object-fit: cover; /* 비율 유지하며 잘림 */
    z-index: 1; /* 비디오 배경 */
}

.result-list {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    max-height: 600px; /* 높이 조정 (기존 400px에서 증가) */
    overflow-y: auto; /* 스크롤 가능 */
    width: 80%;
    height: 70%; /* 높이 비율 조정 */
    background: rgba(255, 255, 255, 0.9);

    border-radius: 10px;
    z-index: 3;
    padding: 10px;
    display: flex; /* Flexbox 사용 */
    flex-wrap: wrap; /* 카드가 여러 줄로 배치되도록 */
    justify-content: center; /* 중앙 정렬 */
    background-color: #ffffff00;
}

.result-item {
    width: 100px; /* 카드 너비 */
    height: 150px; /* 카드 높이 */
    margin: 15px;
    border: 1px solid #ccc;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: transform 0.2s; /* 애니메이션 효과 */
    overflow: hidden; /* 자식 요소가 카드 크기를 벗어나지 않도록 설정 */
}

.result-item:hover {
    transform: scale(1.5); /* 카드 크기를 확대 */
}

.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.popup-content {
    background: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    position: relative;
    overflow: hidden; /* 팝업 내용이 벗어나지 않도록 설정 */
}

.popup-content img {
    max-width: 100%; /* 이미지가 팝업 크기를 벗어나지 않도록 설정 */
    height: auto; /* 비율 유지 */
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 24px;
    cursor: pointer;
}
